<GridLayout class="px-40">
  <StackLayout style="margin-top: 100;">
    <Image src="res://logo"></Image>
    <Label text="PIN log in" class="h2 bold-800 mt-20 lable-pin-color dosis"></Label>
    <StackLayout height="60">
      <TextField hint="User Code" [(ngModel)]="user_code" keyboardType="phone" returnKeyType="next"
        class="bg-gray-blur radius-15 login-field"></TextField>
    </StackLayout>
    <TextField hint="PIN Code" [(ngModel)]="pin" keyboardType="phone" returnKeyType="done"
      class="bg-gray-blur radius-15 login-field"></TextField>
    <Button text="Log in" class="btn-login my-40" (tap)="submit()"></Button>

  </StackLayout>
  <ng-container *ngIf="loading">
    <ActivityIndicator busy="true" width="50" height="50" horizontalAlignment="center" verticalAlignment="center">
    </ActivityIndicator>
  </ng-container>
</GridLayout>